# This file is an example!
# Make sure it doesn't exclude enything you want to backup!
# Note that the script itself attempts to exclude the 'Downloads' directory in any language.

/home/*/extsrc
/home/*/.java
/home/*/.adobe
/home/*/.macromedia
/home/*/.wine
/home/*/winetricks
/home/*/.Xauthority
/home/*/fontconfig
/home/*/.gnupg/random_seed
/home/*/.dbus
/home/*/.python-eggs
/home/*/Hentninger

sh:**/duplicity/backup_user.conf
sh:**/backup
sh:**/*.backup

sh:**/.config/libreoffice/*/user/config

sh:**/.#*
sh:**/*~
sh:**/.saves-*
sh:**/*.old

re:.*/[.]?[Tt]rash
sh:**/Trash.msf
sh:**/*.trashinfo

re:.*/[.]?[Cc]ache
sh:**/caches
sh:**/AssetCache

sh:**/recently-used.xbel
sh:**/recently_used

sh:**/clamxav_infected

sh:**/tmp
sh:**/*.tmp
sh:**/ttt*
sh:**/tt

sh:**/.*_history
sh:**/.lesshst
sh:**/.xsession-errors

sh:**/*.iso

sh:**/Crash Reports

sh:**/__pycache__
sh:**/*.pyc
sh:**/.tox
sh:**/.eggs
sh:**/*.class
sh:**/*.a
sh:**/*.so
sh:**/*.o
sh:**/*.elc
sh:**/*.log*
sh:**/*.orig
sh:**/*.bak
sh:**/*.backup
sh:**/*.rpm
sh:**/*.deb
sh:**/.obj
sh:**/*.exe


sh:**/.emacs.d/session.*
sh:**/.pylint.d/*.stats

sh:**/.nx/*

sh:**/.local/share/gnome-shell/application_state

sh:**/firefox/*/cookies*
sh:**/firefox/*/sessionstore.js

sh:**/.config/google-chrome/Default/Extensions
sh:**/.config/pulse
sh:**/.config/libreoffice

# ruby
.gem

# rubygem (rails) stuffs a lot in ~/bin, exclude it
sh:**/rails
sh:**/rake
sh:**/rdoc
sh:**/ri 
sh:**/sass
sh:**/sass-convert
sh:**/scss
sh:**/sdoc
sh:**/sdoc-merge
sh:**/sprockets
sh:**/tilt
sh:**/tt 

# OS X excludes
sh:**/.HFS+ Private Directory Data*
sh:**/.AppleDouble
sh:**/.metadata_never_index
sh:**/.com.apple.timemachine.donotpresent
sh:**/.VolumeIcon.icns
sh:**/Saved Application State
sh:**/.DocumentRevisions-V100
sh:**/.Spotlight-V100
sh:**/.Trash
sh:**/.Trashes

sh:**/Library/Application Support/SyncServices/data.version
sh:**/Library/Caches
sh:**/Library/Logs
sh:**/Library/Mail/Envelope Index
sh:**/Library/Mail/AvailableFeeds
sh:**/Library/Mirrors
sh:**/Library/PubSub/Database
sh:**/Library/PubSub/Downloads
sh:**/Library/PubSub/Feeds
sh:**/Library/Safari/Icons.db
sh:**/Library/Safari/WebpageIcons.db
sh:**/Library/Safari/HistoryIndex.sk
